NET "seg_out[0]" LOC = T10;
NET "seg_out[1]" LOC = R10;
NET "seg_out[2]" LOC = K16;
NET "seg_out[3]" LOC = K13;
NET "seg_out[4]" LOC = P15;
NET "seg_out[5]" LOC = T11;
NET "seg_out[6]" LOC = L18;
NET "seg_out[7]" LOC = H15;
NET "an[0]" LOC = U13;
NET "an[1]" LOC = K2;
NET "an[2]" LOC = T14;
NET "an[3]" LOC = P14;
NET "an[4]" LOC = J14;
NET "an[5]" LOC = T9;
NET "an[6]" LOC = J18;
NET "an[7]" LOC = J17;

NET "BaoshiLight" LOC = H17;
NET "alarm_light" LOC = V11;
NET "time_light" LOC = V12;
//NET "time_mode" LOC = K15;

NET "alarmON" LOC = L16;
NET "settingButtion[0]" LOC = P17;
NET "settingButtion[1]" LOC = M17;
NET "chooseButtion" LOC = V10;
NET "chooseTimeMode" LOC = M13;
NET "reset" LOC = N17;
NET "EN_siginal" LOC = J15;
NET "clk" LOC = E3;

NET "an[0]" IOSTANDARD = LVCMOS33;
NET "an[1]" IOSTANDARD = LVCMOS33;
NET "an[2]" IOSTANDARD = LVCMOS33;
NET "an[3]" IOSTANDARD = LVCMOS33;
NET "an[4]" IOSTANDARD = LVCMOS33;
NET "an[5]" IOSTANDARD = LVCMOS33;
NET "an[6]" IOSTANDARD = LVCMOS33;
NET "an[7]" IOSTANDARD = LVCMOS33;
NET "seg_out[7]" IOSTANDARD = LVCMOS33;
NET "seg_out[6]" IOSTANDARD = LVCMOS33;
NET "seg_out[5]" IOSTANDARD = LVCMOS33;
NET "seg_out[4]" IOSTANDARD = LVCMOS33;
NET "seg_out[3]" IOSTANDARD = LVCMOS33;
NET "seg_out[2]" IOSTANDARD = LVCMOS33;
NET "seg_out[1]" IOSTANDARD = LVCMOS33;
NET "seg_out[0]" IOSTANDARD = LVCMOS33;
NET "BaoshiLight" IOSTANDARD = LVCMOS33;
NET "alarm_light" IOSTANDARD = LVCMOS33;
NET "time_light" IOSTANDARD = LVCMOS33;
NET "alarmON" IOSTANDARD = LVCMOS33;
NET "settingButtion[0]" IOSTANDARD = LVCMOS33;
NET "settingButtion[1]" IOSTANDARD = LVCMOS33;
NET "reset" IOSTANDARD = LVCMOS33;
NET "EN_siginal" IOSTANDARD = LVCMOS33;
NET "clk" IOSTANDARD = LVCMOS33;
NET "chooseButtion" IOSTANDARD = LVCMOS33;
NET "chooseTimeMode" IOSTANDARD = LVCMOS33;